.msg-form {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #d9d9d9;
  color: white;
  padding: 10px;
  padding-left: 20%;
  /* text-align: center; */
  /* border: 1px solid white; */
}

.send-btn {
  width: 120px;
  height: 35px;
  color: white;
  outline: none;
  border: none;
  background-color: #595959;
  cursor: pointer;
  /* margin: 20px 10px; */
  margin-left: 20px;
  border-radius: 15px 15px;
  transition: all 0.3s;
}

.send-btn:hover {
  background-color: white;
  color: black;
}

.message-field {
  width: 40%;
  border: none;
  outline: none;
  border-bottom: 2px solid #595959;
  /* margin-right: 10px; */
  background-color: #d9d9d9;
  color: #595959;
}

.emoji-toggle-icon {
  margin-left: 2%;
  color: #595959;
  font-size: 25px;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: 20%;
}
