.add-skills-input {
  outline: none;
  border: none;
  background: transparent;
  border-bottom: solid 2px #a9a9a9;
  width: 80px;
  padding: 5px 0;
  margin-right: 10px;
}
.skills-submit-btn {
  display: none;
}
.add-skills-input::placeholder {
  font-size: 14px;
  opacity: 0.7;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
}
.add-skills-container {
  display: flex;
}
.add-button {
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
}
.skill-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 36px;
  color: #1600d5;
  border-radius: 18px;
  background-color: #a39be5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 10px 10px 0;
}

.form-check-botton {
  font-size: 20px;
  font-weight: bold;
  color: #1600d5;
  border: none;
  outline: none;
  background: transparent;
  margin-left: 15px;
}
