.list-items {
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  list-style: none;
  float: left;
}
.visible {
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  list-style: none;
  float: left;
}
.pagination {
  display: table;
  margin: 0 auto;
}
.list-items:hover,
.visible:hover {
  border: 1px solid black;
  color: white;
  padding: 10px;
  background: black;
}
.list-items a {
  outline: none;
}
.active {
  border: 1px solid black;
  color: white;
  padding: 10px;
  background: black;
}
