.navbar-container {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 110px;
  background-color: #ffffff;
  box-shadow: 8px 8px 15px 0 rgba(22, 0, 213, 0.06);
}
.navbar-header {
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.yml-logo {
  width: 80px;
  height: 25px;
  object-fit: contain;
}
.profile-logout {
  display: flex;
}
.drop-down {
  visibility: hidden;
  display: inline;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0;
  margin-right: 10px;
}
.logout {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #1d1d1d;
  margin-left: 30px;
  border-left: 2px solid #eaedf3;
  padding-left: 30px;
}
.profile-button {
  display: flex;
}
.profile-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.signout-container {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 550px;
}
.signout-btn {
  background-color: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.logo-search {
  display: flex;
}
.header-search-bar {
  margin-left: 30px;
  border-left: 2px solid #eaedf3;
  padding-left: 30px;
}
.header-searchbar-input {
  padding: 10px 0;
  cursor: pointer;
  border: none;
  outline: none;
  width: 375px;
  opacity: 0.5;
  margin-left: 10px;
}
.header-searchbar-input::placeholder {
  width: 129px;
  height: 16px;
  font-size: 16px;
  color: #1d1d1d;
}
