.sidebar {
  position: fixed;
  width: 15%;
  height: calc(100vh - 110px);
  box-shadow: 8px 8px 15px 0 rgba(22, 0, 213, 0.06);
  background-color: #d9d9d9;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard-icon {
  font-size: 40px;
  display: block;
  text-align: center;
  margin: 25px auto;
  /* cursor: pointer; */
  outline: none;
}

.user-list {
  padding: 1px;
}

.name-list {
  display: block;
  text-decoration: none;
  list-style-type: none;
  line-height: 27px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 16px;
  background-color: black;
  color: white;
  margin: 5px auto;
}

.link-elem {
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  list-style-type: none;
  line-height: 27px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  color: black;
  margin: 5px auto;
  text-align: center;
  transition: all 0.3s;
}

.link-elem:hover {
  background-color: #595959;
  color: white;
}

.active-link {
  text-decoration: none;
  display: block;
  color: black;
  background-color: white;
}

.user-icon {
  padding-right: 5px;
}

.create-group-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 120px;
  height: 35px;
  color: white;
  outline: none;
  border: none;
  background-color: #595959;
  cursor: pointer;
  border-radius: 15px 15px;
  transition: all 0.3s;
}

.create-group-btn:hover {
  background-color: white;
  color: black;
}

.create-group-icon {
  font-size: 20px;
  padding: 2px;
}

.group-header {
  text-align: center;
}

.user-add-icon {
  padding-right: 5px;
  font-size: 20px;
}

.link-elem {
  padding: 5px;
  display: flex;
  align-items: baseline;
  /* justify-content: center; */
  margin-left: 10%;
  text-decoration: none;
}
.navlink-element {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.nav-active-link {
  color: #087ffe;
}

.broadcast-icon,
.group-create-icon {
  padding: 10px;
  color: #595959;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.broadcast-icon:hover,
.group-create-icon:hover {
  color: white;
}

.header-break {
  width: 75%;
  display: block;
  margin: 5px auto;
  color: #595959;
  border: 1.5px solid #595959;
}
